* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header style */
header {
    background-image: url(./img/banner/banner3.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 808px;
}

.header {
    text-align: right;
    width: 500px;
    height: 228px;
    left: 750px;
    position: relative;
    top: 300px;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.header-des {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.btn-primary {
    width: 160px;
    height: 64px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
}
/* Main Section*/
.failure{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 250px;
    margin-right: 200px;
    padding: 50px;

}
.failure ul  {
    margin-top: 50px;
    list-style-type: none;
    
}
.failure li i{
color: rgb(26, 234, 11);

}
ul li{
    margin: 5px 0px;
    font-weight: 400;
font-size: 16px;
color: #444343;
}
.failure-des p{
    font-weight: 400;
font-size: 16px;
color: #444343;
}
.failure-des .title{
    font-weight: 700;
font-size: 40px;
color: #151414;
margin-bottom: 10px;
}
.failure-des{
    margin-left: 50px;
}

/* About me styles */
.about {
    margin: 50px 200px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    padding: 50px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}

.about-info {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.about-info p {
    justify-content: space-around;
    color: #757575;
}

.about-primary {
    margin: 5px 10px;
}

.about-des {
    font-weight: 400;
    font-size: 18px;
}
/* Plans Styles */
.plan-title{
    font-weight: 700;
font-size: 25px;
    color: #151414;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.plan-des{
    font-weight: 500;
font-size: 25px;
    color: #737272;
}
.plan-skills{
    margin: 50px 200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
/* Contact styles */
.contact{
border-radius: 8px;
padding: 40px;
margin: 100px 200px;
background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%),url(./img/watch.png);
}
.contact-title{
    font-weight: 700;
font-size: 40px;
color: #FFFFFF;
margin-bottom: 30px;
}
.contact-btn{
    font-weight: 600;
font-size: 20px;
color: #005FAC;
}
/* Fotor styles */
.fotor{
    background: #151414;
    display: flex;
    color: #F8F8F8;
    padding: 50px;
   
}
.details-title{
    font-weight: 700;
font-size: 45px;
margin-bottom: 20px;
}
.details,.subscribe{
    margin: 50px 190px;
}
.subscribe-title{
    font-weight: 600;
font-size: 25px;
margin-bottom: 20px;
}
.enter-mail{
    width: 325px;
height: 64px;
outline: none;
background: #151414;
margin-bottom: 20px;
border-radius: 10px;
color: whitesmoke;
border: 1px solid rgb(130, 118, 118);
}
.sub-btn{
    font-weight: 600;
font-size: 20px;
color: #FFFFFF;
background-color:#005FAC;
}
.details-des{
    font-weight: 400;
font-size: 16px;
color: #FFFFFF;
margin-bottom: 20px;
}
input[type="text"]{
    font-size:22px;
}
.details ul{
    display: flex;
    margin-left: 0px;
    padding: 0px;
    list-style-type: none;
    margin-top: 10px;
}
.details ul li{
    margin-right: 10px;
}